/* 주석으로 작성한 한글이 깨지지 않게 하기 위해 언어 설정 */
@charset "utf-8";

/* 여백 Reset */
body,div,ul,li,dl,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form, figure, figcaption{margin: 0; padding: 0;}

/* html a 링크 초기화 */
a {color: #222; text-decoration: none;}
a:hover{color: #2698cb;}

/* 폰트 초기화 */
/* 구글 폰트를 통해 MAC과 Windows를 통일하자 */
body, input, textarea, select, button, table {
  font-family: 'Abel', 'Nanum Gothic', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
  color: #222;
  font-size: 13px;
  line-height: 1.5;
}

/* 폰트 스타일 초기화 */
em, address {font-style: normal;}
/* 불릿기호 초기화 */
dl,ul,li,ol,menu {list-style: none;}
/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 {font-size: 13px; font-weight: normal;}

/* 버튼 초기화 */
button {border: 0;}

/* 반응형 이미지 */
img, video {width: 100%;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after{display: block; content: ''; line-height: 0;}
.clearfix:after{clear: both;}

/* 테두리 초기화 */
img, fieldset {border: 0 none;}

/* IR 기법 */
/* IR 기법은 '이미지 대체텍스트 제공을 위한 CSS 기법'으로 다양한 CSS 기법을 사용하여 이미지 대체텍스트를 제공할 수가 있다.

권장하는 기법으로는 첫 번째로 Phark Method이며, 이미지로 대체할 엘리먼트에 배경이미지를 설정하고 글자는 text-indent를 이용하여 화면 바깥으로(-9999px만큼 내어 쓰기) 빼내어 보이지 않게 하는 방법이다. 스크린 리더기가 읽어주며, 추가적인 태그를 사용하지 않는 장점이 있으나, CSS on/image off 시 텍스트가 안보인다는 단점이 있다.
  
두 번째로는 WA IR이며, 이미지로 대체할 엘리먼트에 배경이미지를 설정하고, 글자는 span 태그로 감싼 후 z-index:-1을 이용하여 화면에 안보이게 처리하는 방법이다. 스크린 리더기가 읽어주며, CSS on/image off 시 텍스트가 보이는 장점이 있으나, 추가적인 태그를 사용해야하고, position 속성을 사용(성능 관련 이슈)해야하는 단점이 있다.*/

/* (IR 효과) Phark Method : 의미있는 이미지의 대체 텍스트를 제공하는 경우 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
/* (IR 효과) WA IR : 의미있는 이미지의 대체 텍스트로, 이미지가 없어도 대체 텍스트를 보여주고자 할 경우 */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
}
/* (IR 효과) 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 경우 */
.ir_su {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* margin paddng 값 정리 */
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mt35{margin-top: 35px !important;}
.mt40{margin-top: 40px !important;}
.mt45{margin-top: 45px !important;}
.mt50{margin-top: 50px !important;}